
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h1>@Model.ChannelId</h1>
<h1>@Model.ChannelName</h1>
<h5>@Model.EstablishedYear</h5>
<h5>@Model.Country</h5><br>
<a class="btn btn-success" href="/channel/list">Back</a>

