
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post">
    <input type="hidden" name="ChannelId" value="@Model.ChannelId" />
    <input type="text" name="ChannelName" value="@Model.ChannelName" class="form-control" placeholder="Channel Name" />
    <input type="text" name="EstablishedYear" value="@Model.EstablishedYear" class="form-control" placeholder="Established Year" />
    <input type="text" name="Country" value="@Model.Country" class="form-control" placeholder="Country" /><br />

    <input type="submit" value="Update" class="btn btn-success" />
</form>
